body {
  background-color: transparent;
  font-family: sans-serif;
}

#stat-div {
  color: #edff14;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  user-select: none;
}

#stats {
  margin: 0px;
}

#drag-icon {
  -webkit-app-region: drag;
  cursor: pointer;
}

#drag-icon:hover {
  color: lightgreen;
}

#close {
  font-size: 24px;
}

#close:hover {
  color: lightgreen;
}

.icon {
  width: 32px;
  display: block;
}

#hide {
  display: none;
}

#fixture_list {
  margin-top: 8px;
}

.fixture {
  background-color: white;
  margin: 0px;
  padding: 8px;
  font-weight: 600;
  text-align: center;
}

